<div class="container">
    <div class="col">
        <br>
        <h4>O sklepie</h4>
        <p>Witamy serdecznie na naszej stronie!</p>
        <p>Działamy od 2019 roku, specjalizujemy się w sprzedaży sprzętu siatkarskiego.</p>
        <p>Dostarczamy szeroki asortyment sprzętu i akcesorii czołowych producentów m.in. Molten, Mikasa, Nike, Adidas..
            .</p>

        <br>
        <h5>Skontaktuj się z nami:</h5>
        <p>E-mail: sklep@sklep.pl</p>
        <p>Telefon: +48 12 345-67-89</p>
        <b>Zapraszamy do zapoznania się z naszą ofertą oraz życzymy udanych zakupów.</b>
        <br><br>
    </div>

</div>
